@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@inject IHttpService _httpService

<h3>User Input</h3>

<div>
    <label>Name:</label>
    <input @bind="playerName" name="a" />
</div>
<div>
    <label>Numbers:</label>
    @for (int i = 0; i < 6; i++)
    {
        <input type="number" @bind="numbers[i]" min="1" max="12" />
    }
</div>
<button class="btn btn-primary" @onclick="SavePlayer">Save</button>

@code {
    private string playerName;
    private int[] numbers = new int[6];

    private async Task SavePlayer()
    {
        var player = new PlayerRequest { Name = playerName, Numbers = numbers.ToList() };
        await _httpService.AddPlayerAsync(player);
    }
}
